*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Trebuchet MS", serif;
  text-align:center;
  font-size: normal 16px/1.5;
  background: url("../images/plain.jpg") center center/ cover no-repeat;
  color: #000000;
  overflow-x: hidden;
  padding-bottom: 50px;
}
img {
  border-radius: 50%;
}

.jumbotron {
  background:linear-gradient(to bottom, rgba(133, 163, 224,0.7) 0%,rgba(133, 163, 224, 0.4) 100%);
  color: #ffffff;
}

/* overlay */

.image-container ul li div {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 100px;
}
.image-container .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #fff;
}
.image-container:hover .after {
    display: block;
    background: rgba(0, 0, 0, .4);
    text-align: center;

}


/* INTRO SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.intro {
  background: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/oA5povt/medical-symbol-animated-background_s4n3w2tzl_thumbnail-full01.png) center center/ cover no-repeat;  /* fallback for old browsers */
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.3) 100%), url(http://res.cloudinary.com/compstak/image/upload/v1405951428/Chalkboard_txp6p3.jpg);
  padding: 100px 0;
}
.intro a:hover {
  opacity: .5;
}
/* SCROLL BUTTON
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#scroll a {
  padding-top: 60px;
  display: inline-block;
}
#scroll a span {
  position: absolute;
  top: 70%;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 2.5px solid #5880C1;
  border-radius: 100%;
  box-sizing: border-box;
}
#scroll a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 2.5px solid #000;
  border-bottom: 2.5px solid #000;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
#scroll a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255,255,255,.8);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 4 rem;
  color: #2d5986;
}


/
